*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COlOR & BG-COLOR */
.pink-blue-gradient {
  background: linear-gradient(60deg, hsl(310, 100%, 50%), hsl(273, 100%, 50%));
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-snap-type: y mandatory;
}

body {
  background-color: hsl(250, 80%, 65%);
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 2rem;
  text-decoration: underline;
}

.wrap {
  min-height: 550px;
  padding: 50px;
  border-bottom: 2px solid #000;
  display: grid;
  place-content: center;
}

.example-1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ff6e00;
}

.example-2 {
  width: 200px;
  height: 200px;
  background-color: #fff;
}

.menu {
  filter: drop-shadow(1px 1px 1px #4700b3);
  width: 300px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #eee;
}

.menu li {
  color: hsl(254, 100%, 45%);
  display: block;
  font-size: 2rem;
}

.menu ul,
.menu li {
  list-style: none;
  padding: 10px;
}

.menu button {
  background: #eee;
  color: hsl(254, 100%, 45%);
  border: none;
  border-radius: 1rem;
  padding: 1.4rem 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button path {
  fill: hsl(254, 100%, 45%);
}

.switch {
  width: 300px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 80px;
  padding: 20px;
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
}

.parent {
  background: white;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.parent[data-isOpen="true"] {
  width: 400px;
  height: 200px;
}

.child {
  width: 40px;
  height: 40px;
  background-color: #f107a3;
  border-radius: 50%;
}

.window {
  width: 480px;
  height: 360px;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
}

.window nav {
  background: #fdfdfd;
  padding: 5px 5px 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #eee;
  height: 44px;
}

.tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  flex-grow: 1;
  user-select: none;
}

.window ul,
.window li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.window ul {
  display: flex;
  flex-direction: row;
}

.window li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  background: white;
  cursor: pointer;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: #85f;
}

li.selected {
  background: #eee;
}

.box {
  width: 300px;
  height: 100px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.drag-area {
  background-color: rgba(255, 255, 255, 0.2);
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.draggable {
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  cursor: pointer;
}

/* scrollable animation's style */
.scroll-card-container {
  margin: 100px auto 100px;
  max-width: 500px;
  height: 700px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.card {
  font-size: 164px;
  width: 300px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.card-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -100px;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}

.b-top {
  border-top: 2px solid #222;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
  z-index: 10000;
}

/* TrackProgress component */
.progress {
  position: sticky;
  top: 0;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.progress svg {
  transform: translateX(-100px) rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: hsl(90, 100%, 20%);
  opacity: 0.2;
}

.progress .indicator {
  stroke: hsl(90, 100%, 60%);
}

.b-top::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: black;
}

.b-top::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-border-radius: 1ex;
}

.b-top::-webkit-scrollbar-corner {
  background-color: black;
}

.progress-box {
  width: 200px;
  height: 300px;
  margin-block: 20px;
  border: 2px dotted hsl(90, 100%, 40%);
  position: relative;
}

/* scroll velocity component */
.SV-body {
  padding-block: 45vh;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
}
.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.track-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
}

.svg-line {
  height: 600px;
  background-color: #222;
}

.svg-line circle,
.svg-line rect,
.svg-line line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

/*  */
code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
  color: #ff0066;
  font-size: 2rem;
  margin-right: 5px;
}

.example ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.example li {
  display: block;
  background-color: #ff0066;
  height: 80px;
  width: 300px;
  flex: 0 0 80px;
  border-radius: 20px;
}

.example ul,
.example li {
  list-style: none;
}

.example button {
  background-color: #ff0066;
  color: #fafafa;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 150px;
}

input {
  accent-color: #ff0066;
}

input[type="checkbox"] {
  transform: scale(1.2);
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 50px;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
}
